.body {
  height: 40px;
  background-color: #000;
  color: #323232;
}

.text-block-4 {
  font-weight: 400;
}

.s-iconfont {
  padding-right: 5px;
  background-color: rgba(46, 46, 46, 0.79);
}

.s-textclickherrtod {
  cursor: pointer;
  display: flex;
  font-size: calc(12px + 0.35vw);
  line-height: 35px;
  font-family: proxima Nova;
  flex-direction: row;
  align-items: center;
}

.s-textclickherrtod p {
  color: hsla(0, 0%, 100%, 0.5);
  text-decoration: underline hsla(0, 0%, 100%, 0.5);
}

.s-textclickherrtod p:hover {
  color: white;
}

.text-block-6 {
  color: #fff;
}

.table-wrapper.border {
  border: 1px solid #ccc;
}

.table-heading {
  color: #fff;
  font-weight: 700;
  text-align: left;
}

.table-heading.ml-10 {
  margin-left: 0px;
  text-align: center;
}

.section-tags {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #666;
}

.section-heading {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.container {
  max-height: none;
  max-width: none;
  padding-top: 0px;
  padding-right: 55px;
  padding-left: 55px;
}

.table-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0px solid #ccc;
}

.text-block-7 {
  padding-right: 0px;
}

.text-block-8 {
  margin-left: 0px;
  text-align: center;
}

.div-block {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #e1a964;
}

.div-block-2 {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #4c4c4c;
  color: #4c4c4c;
}

.s-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.s-paginationdisplaybutton {
  width: 180px;
  height: 30px;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px 1px 1px 2px;
  border-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.text-block-14 {
  width: auto;
  margin-top: 5px;
  color: #fff;
  font-size: 12px;
}

.s-paginationdisplaynumbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin-left: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.s-paginationdisplaynumbers-text1 {
  width: 90px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: left;
}

.s-paginationdisplaynumbers-number1 {
  margin-left: 0px;
}

.s-pagination-numbers-text1 {
  width: 20px;
  margin-left: 20px;
  padding-left: 10px;
  background-color: hsla(0, 0%, 76.9%, 0.1);
  color: hsla(0, 0%, 100%, 0.6);
}

.text-block-15 {
  width: auto;
  margin-left: 10px;
  padding-left: 10px;
  background-color: hsla(0, 0%, 76.9%, 0.1);
  color: hsla(0, 0%, 100%, 0.6);
  text-align: center;
}

.text-block-16 {
  color: #fff;
}

.div-block-3 {
  margin-bottom: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: rgba(100, 194, 141, 0.32);
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding-right: 55px;
  padding-left: 55px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.button {
  border-radius: 10px;
  background-color: #64c28d;
}

.s-icondownload {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
  padding-top: 10px;
  text-align: start;
  color: rgba(255, 255, 255, 0.5);
}

.s-box-footer {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  align-items: flex-end;
  padding-bottom: 25px;
}

@media screen and (max-width: 991px) {
  .div-block-4 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 2%;
    padding-left: 9%;
  }

  .s-pagination {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .s-paginationdisplaynumbers {
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .s-paginationdisplaynumbers-text1 {
    padding-left: 0px;
  }

  .text-block-15 {
    padding-left: 0px;
  }

  .text-block-15.ml-0 {
    margin-left: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 17%;
  }

  .s-pagination {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }

  .s-paginationdisplaynumbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
}

@media screen and (max-width: 320px) {
  .s-textclickherrtod {
    font-size: calc(10.2px + 0.35vw);
  }
}
