.body {
  height: 40px;
  background-color: #000;
  color: #323232;
}

.s-sidebargrouplinks {
  margin-top: 10px;
}

.s-flags {
  display: flex;
}

.s-logout {
  display: flex;
  border: 1px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 15%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
  cursor: pointer;
  align-self: center;
  text-align: center;
}

.s-logout-icon {
  border-radius: 50%;
  padding: 7px 10px 5px 8px;
  background: black;
}

.s-logout-color {
  color: white;
}

.s-logout-color:hover {
  color: #929292;
}

.s-logout-text {
  display: inline;
  padding: 5px 8px;
}

.s-bigsidebarlinkimage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 25px;
  height: 25px;
  margin-right: 9px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
}

.s-bigsidebarlinkimage.color {
  opacity: 1;
}

.s-sidebarbutton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin: 1px 20px 10px;
  padding: 5px 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.05);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: hsla(0, 0%, 100%, 0.4);
  font-size: 11px;
  text-decoration: none;
}

.s-sidebarbutton:hover {
  border-top-color: #33c588;
  border-bottom-color: #33c588;
  background-color: #33c588;
  color: #fff;
}

.s-sidebargroups {
  min-width: 292px;
  z-index: 8;
  display: flex;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
  width: 292px;
  height: 100%;
  padding-top: 13px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1c1c1c;
  background-image: none;
  color: #2f2f2f;
  align-items: center;
}

.s-sidebarlink {
  width: 100%;
  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 4px 20px;
  border-left: 3px solid hsla(0, 0%, 100%, 0);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  text-decoration: none;
}

.s-sidebarlink:hover {
  color: #fff;
}

.s-sidebarlink.w--current {
  border-left-color: #33c588;
  color: #fff;
}

.text-block-4 {
  font-weight: 400;
}

.s-sidebarsection {
  margin: 20px 20px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.s-signoff {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: 40px;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 7px;
  background-color: transparent;
  text-align: left;
  font-size: 1 rem;
  color: hsla(0, 0%, 100%, 0.5);
  width: 175px;
}

.s-backtos {
  width: 80%;
  position: relative;
  display: flex;
  height: 40px;
  margin-top: 40px;
  align-items: center;
  flex: 0 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  justify-content: flex-start;
  flex-direction: row;
}

.s-textbacktos {
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  background-color: transparent;
  font-family: Mulish, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 800;
  text-align: center;
}

.iconbacktos {
  padding-top: 4px;
  margin: 0 5px 0 10px;
}

.s-bigsidebarlink {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 8px 20px 8px 17px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 3px solid transparent;
  opacity: 0.5;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.s-bigsidebarlink:hover {
  opacity: 1;
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
  color: #fff;
}

.s-bigsidebarlink.w--current {
  border-left-color: #33c588;
  opacity: 1;
  color: #fff;
}

.s-bigsidebarlink.w--current:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.s-sidebargroup {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.s-iconfont {
  padding-right: 5px;
  background-color: rgba(46, 46, 46, 0.79);
}

.paragraph {
  font-size: 22px;
  line-height: 32px;
}

.paragraph-2 {
  font-size: 22px;
  line-height: 32px;
}

.s-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 954px;
  height: 360px;
  margin-right: auto;
  margin-left: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: dashed;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.4);
}

.s-titlesidebar {
  width: 100%;
  margin-top: 45px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.text-block-6 {
  color: #fff;
}

.s-texttitles {
  margin-bottom: 5px;
  color: #fff;
  font-size: 25px;
  line-height: 30.45px;
  font-family: proxima Nova;
}

.s-helpside {
  display: flex;
  width: 75%;
  height: auto;
  margin-bottom: 40px;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background-color: rgba(38, 38, 38, 0.8);
  justify-content: center;
}

.s-texttitleneedhelp {
  font-family: Mulish, sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.s-textparagraphhelp {
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  font-family: Mulish, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}

.s-textparagraphhelp:hover {
  color: white;
}

.table-wrapper.border {
  border: 1px solid #ccc;
}

.table-heading {
  color: #fff;
  font-weight: 700;
  text-align: left;
}

.table-heading.ml-10 {
  margin-left: 0px;
  text-align: center;
}

.section-tags {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #666;
}

.section-heading {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.container {
  max-height: none;
  max-width: none;
  padding-top: 0px;
  padding-right: 55px;
  padding-left: 55px;
}

.table-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0px solid #ccc;
}

.text-block-7 {
  padding-right: 0px;
}

.text-block-8 {
  margin-left: 0px;
  text-align: center;
}

.div-block {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #e1a964;
}

.div-block-2 {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #4c4c4c;
  color: #4c4c4c;
}

.s-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.s-paginationdisplaybutton {
  width: 180px;
  height: 30px;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px 1px 1px 2px;
  border-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.text-block-14 {
  width: auto;
  margin-top: 5px;
  color: #fff;
  font-size: 12px;
}

.s-paginationdisplaynumbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin-left: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.s-paginationdisplaynumbers-text1 {
  width: 90px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: left;
}

.s-paginationdisplaynumbers-number1 {
  margin-left: 0px;
}

.s-pagination-numbers-text1 {
  width: 20px;
  margin-left: 20px;
  padding-left: 10px;
  background-color: hsla(0, 0%, 76.9%, 0.1);
  color: hsla(0, 0%, 100%, 0.6);
}

.text-block-15 {
  width: auto;
  margin-left: 10px;
  padding-left: 10px;
  background-color: hsla(0, 0%, 76.9%, 0.1);
  color: hsla(0, 0%, 100%, 0.6);
  text-align: center;
}

.text-block-16 {
  color: #fff;
}

.div-block-3 {
  margin-bottom: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: rgba(100, 194, 141, 0.32);
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding-right: 55px;
  padding-left: 55px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.button {
  border-radius: 10px;
  background-color: #64c28d;
}

.link-container {
  padding: 0px 3rem;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.link-flag-container > a {
  margin-right: 0.4rem;
  text-decoration: none !important;
  font-size: 30px;
}

@media screen and (max-width: 991px) {
  .s-sidebargroups {
    display: none;
  }

  .div-block-4 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 2%;
    padding-left: 9%;
  }

  .s-pagination {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .s-paginationdisplaynumbers {
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .s-paginationdisplaynumbers-text1 {
    padding-left: 0px;
  }

  .text-block-15 {
    padding-left: 0px;
  }

  .text-block-15.ml-0 {
    margin-left: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 17%;
  }

  .s-pagination {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }

  .s-paginationdisplaynumbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
}
